body{
	background-image:url(../sources/bodyIMG.png);
	/*background-color: grey;*/
	width: 100%;
	margin:0px;
}
img{
	border-radius:5px;
}
#menu{
	position: relative;
	height:60px;
	left:0px;
	z-index: 2;
	width: 100%;
}
#imgDIV{
	overflow: hidden;
	display: none;
}
#leftDIV{
	overflow: hidden;
	display: none;
}
#rightDIV{
	overflow: hidden;
	display: none;
}
#menuDIV{
	top:10px;
	position: relative;
	left:0px;
	height:60px;
	/*background-color:grey; */
	overflow: hidden;
	z-index: 2;
	width: 100%;
}
#menuDIV>ul{
	list-style-type:none;
	left: 0px;
	margin-top: 10px;
	width: 100%;
}
#menuDIV ul li{
    float: left;
    width:25%;
    height:50px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
   /* background-color: #d1c7b7;*/
}
.menuContent{
	width:100%;
	position: absolute;
	/*display: none;*/
	height:0px;
	top:70px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	background-color: #FFFFFF;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	border-bottom: 1px solid grey;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	z-index: 2;
}
.menuContent ul{
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
}
.menuContent li{
	float: left;
	margin-left: 4px;
	margin-top: 2px;
}
#main{
	margin-top: 0px;
	margin-left: 0px;
}
.sections{
	position: relative;
	width:100%;
	left:0px;
	margin-top: 25px;
	padding:5px;
	background: #FFFFFF;
	border-radius: 10px;
	overflow: hidden;
}
#main>ul{
	list-style-type: none;
}
#main>ul>li{
	margin-left:-20px;
}
/*上面的基本弄好*/
#Intro{
   width:60%;
}
#imgJS{
	position: absolute;
	right: 79px;
	top:100px;
}
.publicLiStyle{
	list-style-type:none;
	margin-left: -20px;
}
.noneLiStyle{
	list-style: none;
	margin-left: -20px;
}
table{
   width: 100%;
   text-align: center;
   padding: 5px;
   margin-left: auto;
   margin-right: auto;	
   margin-top: 10px;
   margin-bottom: 10px;
}
.imgTable{
	margin-left: -20px;
}
.tableTwo{
	width:100%;
}
.tableCode{
	text-align: left;
	padding: 5px;
}
th{
	text-align: center;
	border: 1px solid grey;
	border-radius: 5px;
	overflow: hidden;
}
td{
	border: 1px solid grey;
	border-radius: 5px;
	overflow: hidden;
}
td:hover{
	background-color: #d1c7b7;
}
.container{
	width:100%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
}
.container>ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.title{
	width:100%;
	height:60px;
}
.title>ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
ol>li{
	margin-left: -10px;
}
.titleNine{
	width:100%;
}
.titleFour{
   width:100%;
}
.titleThree{
	width:100%;
}
.titleLi{
	float: left;
    text-align: center;
    border: 5px solid #FFFFFF;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	cursor: pointer;
	color: green;
	height:60px;
}
.threeCrack{
	width:30%;
}
.fourCrack{
	width:25%;
}
.fiveCrack{	
	width:20%;	
}
.nineCrack{	
	width:11%;
}
/*tabs的内容框*/
.content{
	margin-right: auto;
	margin-left: 0px;
	margin-top: 0px;
	padding: 3px;
	background-color: #FFFFFF;
	border: 3px solid #FFFFFF;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
 /*tabs 的内容框width*/
.contentFive{
	width:100%;
}
.contentThree{
	width:100%;
}
.contentFour{
	width:100%;
}
.contentNine{
    width:100%;
}
.blockDisplay{
	display: block;
}
.noneDisplay{
	display: none;
}
.selectedTitle{
	background-color: #FFFFFF;
}
.notSelectTitle{
	background-color:#d1c7b7; 
}
/*左右布局*/
.leftTitleRightContent{
   width:100%;
}
.leftTitle{
	width:80px;
	position:absolute;
	left:-85px;
	top:22px;
	z-index: 2;
}
.leftTitle>ul{
	list-style-type: none;
	position: absolute;
	left:-40px;
}
.leftTitle li{
	float: left;
	width:70px;
	height:50px;
	margin-top: 7px;
	margin-left: 5px;
	border: 2px solid #FFFFFF;
	text-align: center;
	border-radius: 10px;
	padding-top: 10px;
	cursor: pointer;
}
.rightContent{
	width:95%;
	border-top: 1px solid #FFFFFF;
	padding-top: 10px;
}